@model BookStore.Models.User

<form asp-action="Register" method="post">
    <input type="text" name="Username" placeholder="Username" />
    <input type="password" name="Password" placeholder="Password" />
    <button type="submit">Register</button>
</form>
