@{
    ViewData["Title"] = "Biblioteka";
}

<h1>Welcome</h1>
<p>Sample list of books and their edition.</p>
<ol>
    <li>"Złodziejka książek" - Markus Zusak</li>
    <li>"Zabić drozda" - Harper Lee</li>
    <li>"Władca Pierścieni" - J.R.R. Tolkien</li>
    <li>"Sto lat samotności" - Gabriel Garcia Marquez</li>
    <li>"Harry Potter i Kamień Filozoficzny" - J.K. Rowling</li>
    <li>"Wichrowe Wzgórza" - Emily Brontë</li>
    <li>"1984" - George Orwell</li>
    <li>"Duma i uprzedzenie" - Jane Austen</li>
    <li>"Winnica Rośliny" - Khaled Hosseini</li>
    <li>"Zniknięcie" - Gillian Flynn</li>
    <li>"Mroczna wieża" - Stephen King</li>
    <li>"Wojna i pokój" - Lew Tołstoj</li>
    <li>"Pamiętnik starego subiekta" - Witold Gombrowicz</li>
    <li>"Skazani na Shawshank" - Stephen King</li>
    <li>"Złodziejka książek" - Markus Zusak</li>
    <li>"Małe życie" - Hanya Yanagihara</li>
    <li>"Portret Doriana Graya" - Oscar Wilde</li>
    <li>"Zabić drozda" - Harper Lee</li>
    <li>"Czarownica" - Roald Dahl</li>
    <li>"Sto lat samotności" - Gabriel Garcia Marquez</li>
    <li>"Harry Potter i Komnata Tajemnic" - J.K. Rowling</li>
    <li>"Władca Pierścieni: Drużyna Pierścienia" - J.R.R. Tolkien</li>
    <li>"Uprowadzenie Agaty" - Aleksander Świderski</li>
    <li>"Sekretne życie pszczół" - Sue Monk Kidd</li>
    <li>"Gra o tron" - George R.R. Martin</li>
    <li>"Lśnienie" - Stephen King</li>
    <li>"Duma i uprzedzenie" - Jane Austen</li>
    <li>"Winnica Rośliny" - Khaled Hosseini</li>
    <li>"Zniknięcie" - Gillian Flynn</li>
    <li>"Mroczna wieża" - Stephen King</li>
    <li>"Wojna i pokój" - Lew Tołstoj</li>
    <li>"Z miłości" - Katarzyna Grochola</li>
    <li>"Pamiętnik starego subiekta" - Witold Gombrowicz</li>
    <li>"Skazani na Shawshank" - Stephen King</li>
    <li>"Władca Pierścieni: Dwie wieże" - J.R.R. Tolkien</li>
    <li>"Złodziejka książek" - Markus Zusak</li>
    <li>"Małe życie" - Hanya Yanagihara</li>
    <li>"Portret Doriana Graya" - Oscar Wilde</li>
    <li>"Zabić drozda" - Harper Lee</li>
    <li>"Czarownica" - Roald Dahl</li>
    <li>"Sto lat samotności" - Gabriel Garcia Marquez</li>
    <li>"Harry Potter i Więzień Azkabanu" - J.K. Rowling</li>
    <li>"Władca Pierścieni: Powrót króla" - J.R.R. Tolkien</li>
    <li>"Uprowadzenie Agaty" - Aleksander Świderski</li>
    <li>"Sekretne życie pszczół" - Sue Monk Kidd</li>
    <li>"Gra o tron" - George R.R. Martin</li>
    <li>"Lśnienie" - Stephen King</li>
    <li>"Duma i uprzedzenie" - Jane Austen</li>
    <li>"Winnica Rośliny" - Khaled Hosseini</li>
    <li>"Zniknięcie" - Gillian Flynn</li>
    <li>"Mroczna wieża" - Stephen King</li>
    <li>"Wojna i pokój" - Lew Tołstoj</li>
    <li>"Z miłości" - Katarzyna Grochola</li>
    <li>"Pamiętnik starego subiekta" - Witold Gombrowicz</li>
    <li>"Skazani na Shawshank" - Stephen King</li>
    <li>"Władca Pierścieni: Dwie wieże" - J.R.R. Tolkien</li>
    <li>"Złodziejka książek" - Markus Zusak</li>
    <li>"Małe życie" - Hanya Yanagihara</li>
    <li>"Portret Doriana Graya" - Oscar Wilde</li>
    <li>"Zabić drozda" - Harper Lee</li>
    <li>"Czarownica" - Roald Dahl</li>
    <li>"Sto lat samotności" - Gabriel Garcia Marquez</li>
    <li>"Harry Potter i Zakon Feniksa" - J.K. Rowling</li>
    <li>"Władca Pierścieni: Hobbit" - J.R.R. Tolkien</li>
    <li>"Uprowadzenie Agaty" - Aleksander Świderski</li>
    <li>"Sekretne życie pszczół" - Sue Monk Kidd</li>
    <li>"Gra o tron" - George R.R. Martin</li>
    <li>"Lśnienie" - Stephen King</li>
    <li>"Duma i uprzedzenie" - Jane Austen</li>
    <li>"Winnica Rośliny" - Khaled Hosseini</li>
</ol>
